h1 {
    color:rgb(255,255,0);
    background-color: green;
    width: 600px;
    height: 1em;
    text-decoration: underline;
    display: inline-block;
    
}
h1:hover{
    color: #FFF;
}



.CLASS {
    color: hsl(319, 100%, 50%);
    text-align: center;
    max-width: 26cm;
    position: relative;
    font-family: 'Ephesis', cursive;
}
.CLASS:active {
    color:indigo;
}




#box {
    margin-left: 150mm;
    padding-top: 5vw;
    border-style: dotted;
    border-color: aqua;
    border-width: 2vh;
    border-radius: 3cm;
    min-width: 50cm;
    position: static;
}
