h1 {
    color:rgb(255,255,0);
    background-color: green;
    width: 600px;
    height: 1em;
    text-decoration: underline;
    display: inline-block;
    
}
h1:hover{
    color: #FFF;
}



.CLASS {
    color: hsl(319, 100%, 50%);
    text-align: center;
    max-width: 26cm;
    position: relative;
    font-family: 'Ephesis', cursive;
}
.CLASS:active {
    color:indigo;
}




#box {
    margin-left: 150mm;
    padding-top: 5vw;
    border-style: dotted;
    border-color: aqua;
    border-width: 2vh;
    border-radius: 3cm;
    min-width: 50cm;
    position: static;
}





div[class="extra1"]{
    margin: 1cm 1cm 1cm 1cm;
    padding: 1cm 1cm 1cm 2cm;
    border: solid 5px blueviolet;
    display: none;
}

.extra2 {
    margin:auto;
}

@media screen and (min-width: 10cm) {
    body{
        background-color: brown;
    }
}

.parent {
    display: flex;
    height: 15cm;
    flex-direction: row-reverse;
    flex-flow: column-reverse;
}
.child2{
    flex-shrink: 5;
}

.container{
    display: grid;
}
.item1{
    grid-column-start: 3;
    grid-area: special;
    justify-self: start;
}
